@import "../scss/mixins/underline-animation";

a.banner-link {
	color: var(--color-primary);
	text-decoration: none;
	// text-decoration-thickness: 4px;
	text-decoration-style: solid;

	@include underline-animation(
		var(--color-secondary),
		"right",
		$lower-underline: false
	);
}

a.navbar-link {
	@include underline-animation(
		var(--color-primary),
		"left",
		$lower-underline: false
	);
}

a.about-link {
	color: var(--color-primary);
	text-decoration-thickness: 3px;
	text-decoration-style: solid;

	@include underline-animation(
		var(--color-secondary),
		"right",
		$lower-underline: false
	);
}

a.about-page {
	color: var(--color-primary);
	text-decoration-thickness: 3px;
	text-decoration-style: solid;
	@include underline-animation(
		var(--color-primary),
		"right",
		$lower-underline: true
	);
}
