@mixin underline-animation($color, $endpoint, $lower-underline) {
	position: relative;
    
    &:hover::after {
        width: 100%;
        transition: 0.3s ease all;
    }
    
    &::after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 2px;
		width: 0%;
		background-color: $color;
		transition: 0.2s ease-in-out all;
    }
    
    @if $endpoint == 'right' {
        &::after {
            left: 0;
        }
    } @else if $endpoint == 'left' {
        //only for navbar links
        &::after {
            right: 0;
            background-color: $color;
        }
    } @else {
        
    }

    @if $lower-underline {
        &::after {
            bottom: -2px;
        }
    }
}
