svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
  path.layer-1(d='M9.257 7.857a1 1 0 111.4-1.4l4 4a1 1 0 010 1.4l-4 4a1 1 0 01-1.4-1.4l3.28-3.3-3.3-3.3z' fill-rule='evenodd')
  path.layer-2(d='M9.257 7.857a1 1 0 111.4-1.4l4 4a1 1 0 010 1.4l-4 4a1 1 0 01-1.4-1.4l3.28-3.3-3.3-3.3z' fill-rule='evenodd')

