#footer.content-wrapper.wrapper__footer.footer
    .footer__icons
        p some text
        p say hi
        p hi@deeadebayo.com
    .footer__contact-form
        form(name='contact', method='POST' data-netlify='true' action='/')