#footer.page-wrapper.page-wrapper__footer
    .content-wrapper__footer.footer
        .footer__info
            h2 Get In Touch
            p Although I'm not currently looking for freelance work, my inbox is always open. Say hi and ask a question, I'll do my best to get back to you.
            p linkedin
            p resume
            p github
            //- text in input fields has to be entered from middle out. how will the text around it behave?
        .footer__contact-form.contact-form
            form(name='contact', method='POST' data-netlify='true' action='/')
                section.contact-form__details
                    p
                        label(for="name") My name is &nbsp; 
                        input(type="text" id="name" name="name" placeholder="YOUR FULL NAME")

                        label(for="email") &nbsp; please respond to me at &nbsp;
                        input#email(type="text" name="email" placeholder="YOUR EMAIL ADDRESS")
                        | .
                section.contact-form__message
                    label(for="message")
                    textarea#message(name="message", cols="30", rows="10", placeholder="What's on your mind")
                p Add a checkbox for send me a copy
                p add a back to top button
                input(type="submit", value="Submit")