.navbar
    .navbar__logo
        a here's the logo I would put
    .navbar__links
        // make the nav links the dark grey/black color
        ul
            li: a.underline-animation.underline-animation--rtl(href="/about.html") About
            li: a(href="#footer") Contact
            li: a(href="http://deeadebayo.tumblr.com/") Inspiration