nav.navbar
    .navbar__logo 
        //- logo is declared in a new class
        a#logo.logo--wrap(href='/')
            include ../_svg-code/logo--navbar
    .navbar__links
        //- make the nav links the dark grey/black color
        ul
            li: a(href="/about.html") About
            li: a(href="#footer") Contact
            li: a(href="http://deeadebayo.tumblr.com/") Inspiration