extends jade-templates/layout__normal

block startScript
- var pageTitle = "About";
- var pageDescContent = "Here's a page description";

block content
    h1 new about aler

block endScript
    script