extends pug-templates/_layout__normal

append startScript
    - var pageTitle = "About";
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description"
    - var page = "wrapper__content__about-page";

block content
    .container
        // make a header with only work, about, contact. Hide inspiration in a link after whole screen looks like a gameboy
        .page-title
            h2 About Me
            p https://www.lonelyplanet.com/nigeria/lagos
            p Something of a lead in
            p actual text
            p I'm an Atlanta-based front-end developer with a passion for interactive design and technology. I help businesses reach their goals faster by freeing them to work on the stuff that matters. Most of the time, this happens from 
            p Ever since I graduated in 2014, I've been using multidisciplinary background to assist Atlanta and online-based businesses. I specialize in creating high-SEO ranked, interactive websites using current (and best) design, marketing, and compliance standards.
            p I believe putting the client and their audience at the heart of any project is the key to delivering thoughtful and lasting solutions. 
        #specialties
            h2 Specialities
            p more leadin stuff - I'm always striving to add more strings to my bow, here's where I absolutely can offer to you
            ul
                li Branding
                li Copywriting
                li Business Analysis ----
                li SEO marketing - rename
                li Response website development
            ul
                li Put them all together and you have a pretty nifty website, adherring to current best practices and --working well-- on devices of all sizes.
        //- .section__specialties The need for better naming. This is a list item that I will continously reuse
        .timeline-wrapper

block endScript
    //- script footer script?
    //- timeline script for sure