extends jade-templates/_layout__normal

block startScript
    - var pageTitle = "About";
    - var pageDescContent = "Here's a page description";

block content
    h1 new about alert

block endScript
    script