extends pug-templates/_layout__normal

block startScript
    - var pageTitle = "About";
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description";

block content
    .container
        h1 new about alertzz
        h2 other text
        .masthead
        .page-title
        .main-content

block endScript
    script