extends pug-templates/_layout__normal

block startScript
    - var pageTitle = "About";
    - var keywordContent = "Some SEO stuff"
    - var pageDescContent = "Here's a page description";

block content
    h1 new about alertzz
    h2 other text

block endScript
    script