doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block startScript
        title Dee Adebayo - Front-End Web Developer
        meta(name="author", content="Dee Adebayo")
        meta(name="keywords", content='keywordContent')
        meta(name="description" content='pageDescContent')
        link(rel="stylesheet", href="public/css/styles.css")
    body(style="background: linear-gradient(to right, #403a3e, #be5869);")
        .wrapper(style="background: #FFF;")
            .page-wrapper.page-wrapper__homepage
                //block in navigation
                header.page-wrapper__homepage--header
                    .navbar
                        .navbar__logo
                            a here's the logo I would put
                        .navbar__links
                            // make the nav links the dark grey/black color
                            ul
                                li: a(href="/about.html") About
                                li: a(href="#footer") Contact
                                li: a(href="http://deeadebayo.tumblr.com/") Inspiration
                .page-wrapper__homepage--content
                    section.content-wrapper.content-wrapper__about-blurb
                        .about-blurb
                            .about-blurb__content
                                p iconz
                                h2 Dee Adebayo
                                p I'm an Atlanta-based web developer with a passion for interactive design and creative problem-solving.
                                button.btn About Me 
                    section.content-wrapper.content-wrapper__project-display
                        .project-display
                            h3.project-display__title Featured Projects
                            .project-display__box.project-display__box--blue
                                p josh
                                img(src="public/img/work__jmdrums__cover.jpg")
                            .project-display__box.project-display__box--green
                                p ctkmc
                                img(src="public/img/work__ctkmc__tablet-and-phone.png")
                            .project-display__box.project-display__box--yellow
                                p hewlett
                                img(src="public/img/work__jmdrums__cover.jpg")
                            .project-display__box.project-display__box--red
                                p this site's technologies
                                img(src="public/img/work__jmdrums__cover.jpg")
                            .project-display__btn
                                button.btn More Projects?
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
        #footer.content-wrapper.wrapper__footer.footer
            .icons__footer
                p some text
        script(src="public/js/script.js")