doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block startScript
        title Dee Adebayo - Front-End Web Developer
        meta(name="author", content="Dee Adebayo")
        meta(name="keywords", content='keywordContent')
        meta(name="description" content='pageDescContent')
        link(rel="stylesheet", href="/public/css/styles.css")
    body.page-wrapper.page-wrapper__homepage
        //block in navigation
        .wrapper__about-blurb
            p icon
            p name
            p stuff
        .wrapper__projects
            p.project-display__title icon
            p.project-display__box name
            p.project-display__box stuff
            p.project-display__btn
        .wrapper__footer
        script(src="/public/js/script.js")