doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block startScript
        title Dee Adebayo - Front-End Web Developer
        meta(name="author", content="Dee Adebayo")
        meta(name="keywords", content='keywordContent')
        meta(name="description" content='pageDescContent')
        link(rel="stylesheet", href="public/css/styles.css")
    body
        //block in navigation
        header
        .page
            .wrapper
                .page-wrapper.page-wrapper__homepage
                    section.content-wrapper.content-wrapper__about-blurb
                        .about-blurb
                            p icon
                            p name
                            p stuff
                    section.content-wrapper.content-wrapper__project-display
                        .project-display
                            .project-display__title 
                                p icon
                            .project-display__box.project-display__box--blue
                                p box
                            .project-display__box.project-display__box--green
                                p box
                            .project-display__box.project-display__box--yellow
                                p box
                            .project-display__box.project-display__box--red
                                p box
                            .project-display__btn
                                button.btn More Projects?
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
                                br
            .content-wrapper.wrapper__footer.footer
                .icons__footer
                    p some text
        script(src="public/js/script.js")