doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block startScript
        title Dee Adebayo - Front-End Web Developer
        meta(name="author", content="Dee Adebayo")
        meta(name="keywords", content='keywordContent')
        meta(name="description" content='pageDescContent')
        link(rel="stylesheet", href="public/css/styles.css")
    body(style="background: linear-gradient(to right, #403a3e, #be5869);")
        .wrapper(style="background: #FFF;")
            .page-wrapper.page-wrapper__homepage
                header.page-wrapper__homepage__header
                    include pug-templates/_includes/navbar                    
                .page-wrapper__homepage__content
                    section.content-wrapper.content-wrapper__about-blurb
                        .about-blurb
                            .about-blurb__content
                                .hello-animation
                                    ul.hello-animation__hellos
                                        li Hello
                                        li Hi
                                        li Hola
                                        li Heya
                                        li Hiya
                                        li What's up
                                        li Hey there
                                        li Greetings
                                p.lead I'm Adeolu.
                                p 
                                    | I'm a freelance front-end UI/UX developer and digital marketer 
                                    br
                                    | focused on creating beautiful, functional web experiences.  
                                p 
                                    | I'm originally from  
                                    | <a href="https://www.lonelyplanet.com/nigeria/lagos" target="_blank" class="underline-animation underline-animation--lower-line underline-animation--ltr">Lagos</a>
                                    img(src="public/img/emoji__ng-flag.png", alt="Nigerian flag emoji").emoji
                                    | but reside in <a href="https://www.lonelyplanet.com/usa/the-south/atlanta" target="_blank" class="underline-animation underline-animation--lower-line underline-animation--ltr">Atlanta</a>
                                    img(src="public/img/emoji__peach.png", alt="peach emoji") 
                                    | ,
                                    br
                                    | building static websites for small businesses.
                                p <a href="#footer" class="underline-animation underline-animation--lower-line underline-animation--ltr">Say hello</a>, or keep exploring. 
                                button.btn more about me 
                    section.content-wrapper.content-wrapper__project-display
                        .project-display
                            h3.project-display__title Projects
                            .project-display__box.project-display__box--blue
                                a.project-display__link(href="/")
                                    .project-display__img
                                        img(src="public/img/work__jmdrums__cover.jpg")
                                    span.project-display__detail-box
                                        span.project-display__detail-box__details
                                            span.project-display__detail-box__details__title 
                                            span.project-display__detail-box__details__subtitle
                                            //- span.project-display__detail-box__details__icon-section
                                            //-     span.project-display__detail-box__details__icon-section__icon
                            .project-display__box.project-display__box--green
                                a.project-display__link(href="/")
                                    .project-display__img
                                        img(src="public/img/work__ctkmc__tablet-and-phone.png")
                                    span.project-display__detail-box
                                        span.project-display__detail-box__details
                                            span.project-display__detail-box__details__title
                                            span.project-display__detail-box__details__subtitle
                                            //- span.project-display__detail-box__details__icon-section
                                            //-     span.project-display__detail-box__details__icon-section__icon
                            .project-display__box.project-display__box--yellow
                                a.project-display__link(href="/")
                                    .project-display__img
                                        img(src="public/img/work__coming-soon.jpg")
                                    span.project-display__detail-box
                                        span.project-display__detail-box__details
                                            span.project-display__detail-box__details__title
                                            span.project-display__detail-box__details__subtitle
                                            //- span.project-display__detail-box__details__icon-section
                                            //-     span.project-display__detail-box__details__icon-section__icon
                            .project-display__box.project-display__box--red
                                a.project-display__link(href="/")
                                    .project-display__img
                                        img(src="public/img/work__coming-soon.jpg")
                                    span.project-display__detail-box
                                        span.project-display__detail-box__details
                                            span.project-display__detail-box__details__title
                                            span.project-display__detail-box__details__subtitle
                                            //- span.project-display__detail-box__details__icon-section
                                            //-     span.project-display__detail-box__details__icon-section__icon
                            .project-display__btn
                                button.btn More Projects
        include pug-templates/_includes/footer
        script(src="public/js/script.js")