// Typography
$font--merriweather: 'Merriweather', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

$font--muli: 'Muli', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;


// Colors
$color--primary: #FF5A5F;
$color--secondary: #00A699;
$color--accent: #FC642D;
$color--rare: #FDB32B;
$color--alert: #DB3742;

$color--text-black: #2b2b2b;
$color--text-header: #333333;
$color--text-default: #484848;
$color--dark: #484848;
$color--gray: #767676;
