// Typography
$font--merriweather: 'Merriweather', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

$font--muli: 'Muli', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;


// Colors
$color--primary: #fc6568; // bright pinkish - main accent
$color--secondary: #fbcb8b; // goldish yellow
$color--accent: #8f9980; // greenish color
$color--dark-gray: #373f48; // slate dark grey - main background color
$color--light-gray: #b6bfce; // light silver grey - text on the dark grey
$color--alert-red: #bf3132; // danger red

// 264 https://www.astellescolors.com/2017/07/01/color-inspiration-progress/
// 514
// 246