$color--primary: hsl(358, 100%, 68%);
$color--secondary: hsl(175, 100%, 33%);
$color--accent: hsl(16, 97%, 58%);
$color--rare: hsl(39, 98%, 58%);
$color--alert: hsl(356, 69%, 54%);

$color--text-black: hsl(0, 0%, 17%);
$color--text-header: rgb(51, 51, 51);
$color--text-default: rgb(72, 72, 72);
$color--dark: rgb(72, 72, 72);
$color--gray: rgb(118, 118, 118);
