.contact-form {
	input[type='text'] {
		box-sizing: border-box;

		border: none;
		border-bottom: 3px solid $color--primary;
		background-color: $color--rare;
		//add a darker color for when it's focused and an actual lighter color to indicate input

		&:focus {
			background-color: $color--secondary;
			border: none;
		}
	}

	input[type='submit'] {
		border: 1px solid $color--accent;
	}

	textarea {
		border: 1px solid $color--accent;
	}
}
