.logo {
	transition: 2s ease all;

	&__text-outline {
		stroke: $color--gray;
	}

	&__layer-1 {
		fill: transparent;
	}

	&__layer-2 {
		fill: transparent;
	}

	&__layer-3 {
		fill: transparent;
	}

	&:hover {
		.logo__text-outline {
			stroke: transparent;
		}

		.logo__layer-1 {
			fill: blue;
		}

		.logo__layer-2 {
			fill: red;
		}

		.logo__layer-3 {
			fill: green;
		}
	}
}
