.logo {
	stroke: $color--gray;
	stroke-width: 0.1px;

	&__text-outline {
		transition: 0.5s;
	}

	&__layer-1 {
		fill: transparent;
		transition: 0.5s;
	}

	&__layer-2 {
		fill: transparent;
		transition: 2s;
	}

	&__layer-3 {
		fill: transparent;
		transition: 1s;
	}

	&--primaryColor:hover {
		.logo__text-outline {
			opacity: 0;
		}
		.logo__layer-1 {
			fill: $color--primary;
		}

		.logo__layer-2 {
			fill: $color--primary;
		}

		.logo__layer-3 {
			fill: $color--primary;
		}
	}
	&--secondaryColor:hover {
		.logo__text-outline {
			opacity: 0;
		}
		.logo__layer-1 {
			fill: $color--primary;
		}

		.logo__layer-2 {
			fill: $color--primary;
		}

		.logo__layer-3 {
			fill: $color--primary;
		}
	}
	&--accentColor:hover {
		.logo__text-outline {
			opacity: 0;
		}
		.logo__layer-1 {
			fill: $color--primary;
		}

		.logo__layer-2 {
			fill: $color--primary;
		}

		.logo__layer-3 {
			fill: $color--primary;
		}
	}
}
