// To affect the maximum size of the svg/logo container
header a {
	outline: none;
	display: block;
	max-height: 55px;
	margin-left: -0.535rem;
}
//set body overflow to auto for no-js users
.no-js body {
	overflow: auto;
}

//footer class but used to add some UI refreshes to top of page
.wrapper {
	border-top: 4px solid $color--secondary;
	margin-bottom: 4.5em;
	background-color: #fff;
}

// Emoji styles for homepage about section
.emoji {
	height: 19px;
	padding: 0 2px;
	line-height: 1.5;
}

.hidden {
	display: none;
}
