header a {
    outline: none;
}

.wrapper {
    border-top: 4px solid $color--secondary;
    margin-bottom: 4.5em;
}

// Emoji styles for homepage about section
.emoji {
    height: 19px;
    padding: 0 2px;
    line-height: 1.5;
}

// /* Match any class name that starts with icon */
// [class^="icon"] {
//     width: 50px;
//     height: 50px;
//     position: relative;
//     top: 15px;
//     margin-right: 10px;
//     fill: #fff;
//   }

//   /* Reposition the music note icon */
//   .icon-music {
//     right: 5px;
//   }

.hidden {
    display: none;
}
