.navbar {
	display: grid;
	grid-template-columns: 12.5em auto; //minmax the logo area

	&__logo {
		grid-column: 1/2;
		padding: 2px 0;
	}

	&__list {
		grid-column: 2/3;
		display: block;

		ul {
			list-style: none;
			justify-content: end;
			float: right;

			li {
				display: block;
				float: left;
				margin-right: 2.647em;

				&:last-child {
					margin-right: 0;
				}

				a.navbar-links {
					display: block;
					position: relative;
					text-decoration: none;
					// text-transform: capitalize;
					color: $color--neutral_text-dark;
					// @include ms-respond(font-size, 1);
					@include underline-animation(
						$color--secondary--dark,
						'left',
						$lowerUnderline: false
					);

					&:hover,
					&.active,
					&:focus {
<<<<<<< HEAD
						color: $color--secondary--dark;
=======
						color: $color--primary;
>>>>>>> add-content
					}
				}
			}
		}
	}
}
