// Module specific variables. To make editing timing for transitions a bit easier
$layer0-static-transition: 0.8s;
$layer1-static-transition: 0.3s;
$layer2-static-transition: 0.3s;
$layer3-static-transition: 0.5s;

$layer0-hover-delay: 0.2s;
$layer1-hover-delay: 0.3s;
$layer2-hover-delay: 0.15s;
$layer3-hover-delay: 0s;

.logo {
	stroke: $color--gray;
	stroke-width: 0.1px;
	max-height: 51px;

	&__text-outline {
		@include logo-animation(null, null, $layer0-static-transition);
	}

	&__layer-1 {
		@include logo-animation(transparent, null, $layer1-static-transition);
	}

	&__layer-2 {
		@include logo-animation(transparent, null, $layer2-static-transition);
	}

	&__layer-3 {
		@include logo-animation(transparent, null, $layer3-static-transition);
	}

	&--noColor {
		.logo__text-outline {
			opacity: 1;
		}
		.logo__layer-1 {
			@include logo-animation(transparent, $layer1-hover-delay);
		}

		.logo__layer-2 {
			@include logo-animation(transparent, $layer2-hover-delay);
		}

		.logo__layer-3 {
			@include logo-animation(transparent, $layer3-hover-delay);
		}
	}
	&--primaryColorHover,
	&--primaryColor:hover {
		.logo__text-outline {
			opacity: 0;
		}
		.logo__layer-1 {
			@include logo-animation($color--primary, $layer1-hover-delay);
		}

		.logo__layer-2 {
			@include logo-animation($color--primary, $layer2-hover-delay);
		}

		.logo__layer-3 {
			@include logo-animation($color--primary, $layer3-hover-delay);
		}
	}
	&--secondaryColorHover,
	&--secondaryColor:hover {
		.logo__text-outline {
			opacity: 0;
		}
		.logo__layer-1 {
			@include logo-animation($color--secondary, $layer1-hover-delay);
		}

		.logo__layer-2 {
			@include logo-animation($color--secondary, $layer2-hover-delay);
		}

		.logo__layer-3 {
			@include logo-animation($color--secondary, $layer3-hover-delay);
		}
	}
	&--accentColorHover,
	&--accentColor:hover {
		.logo__text-outline {
			opacity: 0;
		}
		.logo__layer-1 {
			@include logo-animation($color--rare, $layer1-hover-delay);
		}

		.logo__layer-2 {
			@include logo-animation($color--rare, $layer2-hover-delay);
		}

		.logo__layer-3 {
			@include logo-animation($color--rare, $layer3-hover-delay);
		}
	}
}
