.page-wrapper {
    margin: 0 auto;
    width: 100%;

    & > * {
        display: grid;
    }

    &__homepage {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "navbar"
        "about-blurb"
        "projects"
        "footer";
        grid-gap: 10px;
    }
}