.page-wrapper {
	margin: 0 auto;
	box-sizing: border-box;

	&__header {
		.navbar {
			padding: 2em 0 1em;
			overflow: hidden;
		}
	}

	&__landing-page {
		margin: 0;
		transition: width 0.1s;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		max-width: calc(90% - 3.5rem);

		@include screen-comp {
			margin: 0 4.6875rem;
		}

		@include screen-wide {
			max-width: 1500px;
			margin: 0 auto;
		}

		&__content {
			padding: 0 1em;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: calc(90% - 3.5rem);

		@include screen-comp {
			margin: 0 auto;
			transition: width 0.1s;
		}

		@include screen-wide {
			max-width: 1500px;
			margin: 0 auto;
			transition: width 0.1s;
		}

		&__home {
			display: grid;
			// grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
			grid-template-columns: 1fr;
			grid-template-areas:
				'about-blurb'
				'project-display';
		}

		&__about {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 5px;
		}
	}

	&__footer {
		margin-bottom: 5.5rem;
		max-width: calc(90% - 3.5rem);

		@include screen-comp {
			margin: 0 auto 5.5rem;
		}

		@include screen-wide {
			max-width: 1500px;
			margin: 0 auto 5.5rem;
		}
	}
}
