@import url("https://fonts.googleapis.com/css?family=Merriweather|Muli:300,700");

// $screen-phone-min: 425px; // The smallest of phones, make this basic or bigger
// $screen-phablet-min: 768px; // Tablet in portrait mode
// $screen-tablet-min: 992px; // Tablet (landscape) and small deskstops
// $screen-comp-min: 1200px; // Large tablets and desktops
// $screen-wide-min: 1650px; // Widescreen desktops

$modularscale: (
  base: 19px,
  ratio: $fourth,
  //1.333
    $screen-phone-min:
    (
      ratio: $minor-third//1.2
    ),
  $screen-phablet-min: (
    base: 21px,
    ratio: $fourth
  ),
  $screen-tablet-min: (
    base: 22px,
    ratio: $fourth
  ),
  $screen-comp-min: (
    base: 22px,
    ratio: $fourth
  ),
  $screen-wide-min: (
    base: 25px,
    ratio: $fourth
  )
);
$ms-fluid: false;
$ms-range: (
  $minor-third $screen-phone-min,
  $fourth $screen-phablet-min,
  $golden $screen-comp-min
);

p {
  font-family: $font--muli;
  font-weight: 300;
  line-height: 1.5;
  // @include ms-respond(font-size, 3)
  @include ms-respond(font-size, 0);
  color: $color--text-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--merriweather;
}


a {
  font-family: $font--muli;
  font-weight: 700;
}

h1 {
  @include ms-respond(font-size, 4);
}

h2 {
  @include ms-respond(font-size, 3);
}

h3 {
  @include ms-respond(font-size, 2);
}

h4 {
  @include ms-respond(font-size, 1);
}

.title--big {
  color: $color--text-header;
}

$ms-fluid: false;

// major-sixth 3:5
// This outputs our font-size in rems, our line-height as a unitless number, and our trailer as a margin, also in rems. The leader, however, is computed together with the offset we need to get rid of our spooky box, and results in a css top value, in rems. This is then added to our bottom margin to ensure any following items will flow correctly below - meaning that we’ve only got margins specified in one direction, and still have padding to fall back on if we want to further modify our flow down the page. Here’s what this looks like:
// p {
// font-size: 1.33333333rem; // 16px = 1.33 * 12px rootsize
// line-height: 1.5;         // 24px = 1.5 * 16px
// top: -0.47333333rem;      // shifted up so baseline sits on grid
// margin-bottom: 0;         // rounds to zero; no margin needed


// @media (min-width: 30em) {
// p {
// font-size: 1.25rem;     // 1.25rem
// line-height: 1.6;       // 2rem is 1.6 * 1.25rem
// top: -0.44375rem;       // shifted up so baseline sits on grid
// margin-bottom: 0;       // rounds to zero; no margin needed
// }
// }
// @media (min-width: 48em) {
// p {
// font-size: 1rem;        // 1 baseline unit = 1rem
// line-height: 2;         // 2 baseline units with 1rem font-size = 2
// top: -0.355rem;         // shifted up so baseline sits on grid
// margin-bottom: 0;       // rounds to zero; no margin needed
// }
// }
// @media (min-width: 61.25em) {
// p {
// font-size: 1rem;        // 1 baseline unit = 1rem
// line-height: 2;         // 2 baseline units with 1rem font-size = 2
// top: -0.355rem;         // shifted up so baseline sits on grid
// margin-bottom: 0;       // rounds to zero; no margin needed
// }
// }
// @media (min-width: 80em) {
// p {
// font-size: 0.8rem;      // 16px = 0.8 * 20px rootsize
// line-height: 2.5;       // 2 baseline units (2rem) = 2.5 * 0.8rem font-size
// top: 0.716rem;          // shifted down so baseline sits on grid
// margin-bottom: 1rem;    // 1rem below
// }
// }
