@import "../scss/mixins/underline-animation";
@import "../scss/variables/color.scss";

.navbar {
	display: grid;
	grid-template-columns: 12.5em auto; //minmax the logo area
	padding: 2rem;

	&__logo {
		grid-column: 1/2;
		padding: 2px 0;
	}

	&__links {
		grid-column: 2/3;
		display: block;

		ul {
			list-style: none;
			justify-content: end;
			float: right;

			li {
				display: block;
				float: left;
				margin-right: 2.647em;

				&:last-child {
					margin-right: 0;
				}

				a {
					display: block;
					position: relative;
					text-decoration: none;
					// text-transform: capitalize;
					// color: $color--text-black;
					// @include ms-respond(font-size, 1);
					@include underline-animation(
						$color--primary,
						"left",
						$lower-underline: false
					);

					&:hover {
						color: $color--primary;
					}
				}
			}
		}
	}
}
