.about-blurb {
    border: 1px solid blue;
    background: $color--accent;

    &__content {
        text-align: center;
    }
}

// Animated Back Glow
// div {
//     position: relative;
//     width: 30vw;
//     height: 30vw;
//     line-height: 30vw;
//     text-align: center;
//     color: #252B37;
//     background-color: #151823;
//     animation: textColor 10s ease infinite;
//     @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);

//     @keyframes textColor {
//         0% {
//             color: #7e0fff;
//         }

//         50% {
//             color: #0fffc1;
//         }

//         100% {
//             color: #7e0fff;
//         }
//     }
// }