.btn {
    position: relative;
    // display: block;
    border: 3px solid $color--primary;
    color: $color--primary;
    text-transform: uppercase;
    font-size: 1.5em;
    border-radius: 4px;
    padding: 1em 2em;
    cursor: pointer;
    
    &__fancy-hover {
        //styles here for the button to do the faciest effect.
    }
}

// $btn-width: 250px !default;
// $btn-height: 80px !default;
// $btn-full: $btn-height+$btn-width !default;
// $btn-half: $btn-full/2 !default;
// $bg-color: #eeeeee !default;

// html {
//   padding-top: 50px;
//   font-family: 'Open Sans', Helvetica, arial, sans-serif;
//   text-align: center;
//   background-color: $bg-color;

//   *,
//   *:before,
//   *:after {
//     box-sizing: border-box;
//     transition: 0.5s ease-in-out;
//   }

//   span {
//     transition: none;
//   }
// }

// *:before,
// *:after {
//   z-index: -1;
// }

// a {
//   text-decoration: none;
//   line-height: $btn-height;
//   color: black;
// }

// [class^="btn-"] {
//   position: relative;
//   display: block;
//   overflow: hidden;
//   @include size(100%, $btn-height);
//   max-width: $btn-width;
//   margin: 1rem auto;
//   text-transform: uppercase;
//   border: 1px solid currentColor;
// }

// .btn-6 {
//   $btn-color: random-color($max:200);
//   $btn-color-dark: shade($btn-color, 40%);
// 	color: tint($btn-color);
  
//   span {
//     @include absolute();
//     display: block;
//     @include size(0);
//     border-radius: 50%;
//     background-color: $btn-color-dark;
//     transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
//     transform: translate(-50%, -50%);
//     z-index: -1;
//   }
  
//   &:hover {
//     color: tint($btn-color, 75%);
    
//     span {
//       @include size(225%, $btn-width*2.25);
//     }
//   }
  
//   &:active {
//     background-color: $btn-color;
//   }
// }
