.content-wrapper {
    & > * {
        display: grid;
    }
    
    &__content {
        margin: 0 auto;
        //add padding so it gives floating effect

        // &__page-about {
        //     display: grid;
        //     grid-template-columns: 1fr;
        //     grid-gap: 1em;

        //     a {
        //         grid-column: 1/2;
        //         grid-row: 1/2;
        //     }
        // }
    }

    &__about-blurb {
        grid-area: about-blurb;
        
        & > * {
            grid-column: span 1;
        }
    }

    &__project-display {
        grid-area: project-display;
    }

    &__footer {
        grid-area: footer;
    }
}