.content-wrapper {
	box-sizing: border-box;

	& > * {
		display: grid;
	}

	&__about-blurb {
		grid-area: about-blurb;
		margin-bottom: 2.75rem;

		& > * {
			grid-column: span 1;
		}
		@include animation__background-hover();
	}

	&__project-display {
		grid-area: project-display;
		margin-bottom: 10rem;
	}

	&__footer {
		transition: all 0.5s ease 0s;

		display: grid;
		grid-template-columns: 1fr 0.25fr 1.75fr;
		box-sizing: border-box;
		@include screen-comp {
			margin: 0 4.6875rem;
		}

		@include screen-wide {
			max-width: 1500px;
			margin: 0 auto;
		}
	}
}
