.most-outside {
	width: 100%;
	height: 100%;

	.no-js &__body {
		position: relative;
		perspective: 1200px;
		transform-style: preserve-3d;
	}

	&__page {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		overflow: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		//animashuns
		animation: moveToTop 0.7s ease-in-out both;
		// end

		&--current,
		.no-js & {
			visibility: visible;
		}

		&--ontop {
			z-index: 999;
		}
	}
}

// @keyframes movetoTop {
// 	from {
// 	}
// 	to {
// 		transform: translateY(-100%);
// 	}
// }
