.page-animation {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	animation-delay: 1s;
	animation-duration: 1.75s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
	overflow: hidden;
	background-color: $color--accent;

	// Forcing a full window div, then "animating" it up (while filling in SVG colors) for a loading effect
	// &--slideUp {
	// 	animation-name: slideUp;
	// }

	&__logo {
		stroke: $color--gray;
		stroke-width: 0.1px;

		&__letters {
			fill: black;
		}

		&__first-color {
			fill: purple;
		}

		&__second-color {
			fill: yellow;
		}

		&__third-color {
			fill: blue;
		}

		&__everything-green {
			fill: green;
		}
	}
}

@keyframes slideUp {
	0% {
		height: 100vh;
	}

	100% {
		height: 0;
	}
}

@keyframes turnGreen {
	// 0% {
	// 	color: $this;
	// }

	100% {
		fill: green;
	}
}
