.page-animation {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 999;
	pointer-events: none;
	box-sizing: content-box;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;

	&--color1 {
		background-color: $color--primary;
	}

	&--color2 {
		background-color: $color--primary;
	}

	&--color3 {
		background-color: $color--primary;
	}

	&--color4 {
		background-color: $color--primary;
	}

	&--color5 {
		background-color: $color--primary;
	}
	&__logo__letters {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}
}
