.project-display {
    grid-template-areas:
        "title title"
        "project project"
        "project project"
        "more-btn more-btn";
    grid-template-columns: 1fr 1fr;

    &__title {
        grid-area: title;
        text-align: center;
    }

    &__box {
        grid-area: project;
        grid-column: span 1;
        grid-row: span 1;

        &--blue {
            background-color: #fbcb8b;
        }

        &--green {
            background-color: #fc6568;
        }

        &--yellow {
            background-color: #bf3132;
        }

        &--red {
            background-color: #8f9980;
        }
    }

    &__btn {
        grid-area: more-btn;
        text-align: center;
    }
}