.wrapper {
    display: grid;
    // grid-template-areas: 
    //     "header"
    // ;
    &__content {
        margin: 0 auto;
        //add padding so it gives floating effect

        // &__page-about {
        //     display: grid;
        //     grid-template-columns: 1fr;
        //     grid-gap: 1em;

        //     a {
        //         grid-column: 1/2;
        //         grid-row: 1/2;
        //     }
        // }
    }

    &__about-blurb {
        grid-area: about-blurb;
        
        & > * {
            grid-column: span 1;
        }
    }

    &__projects {
        grid-area: project-display;
        grid-template-areas:
            "title title"
            "project project"
            "project project"
            "more-btn more-btn";
        grid-template-columns: 1fr 1fr;
    }

    &__footer {
        grid-area: footer;
    }
}