@mixin underline-animation(
	$color,
	$endPoint,
	$lowerUnderline,
	$bodyLink: false,
	$endColor: $color
) {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 2px;
		width: 0%;
		background-color: $color;
		transition: 0.2s ease-in-out all;
	}

	&:hover::after {
		width: 100%;
		background-color: $endColor;
	}

	@if $endPoint == 'right' {
		&::after {
			left: 0;
		}
	} @else if $endPoint == 'left' {
		//only for navbar links
		&::after {
			right: 0;
			background-color: $color;
		}
	} @else {
	}

	@if $lowerUnderline {
		&::after {
			bottom: -1px;
		}
	}

	@if $bodyLink {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&::after {
			bottom: 2px;
		}
	}
}
